config.yaml
probe_out/
probe_out.zip
__pycache__/
*.pyc
.venv/

bin/
include/
lib/
lib64/
lib64
pyvenv.cfg
__pycache__/
*.pyc
*.pyo

Include/
Lib/
Scripts/
*.egg-info/

bild.jpg
bild.JPG
bild.jpeg
bild.JPEG